@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom:hover {
    transform: scale(1.1);
}

body::-webkit-scrollbar {
    width: 12px;         
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #eab308;   
    border-radius: 20px;       
  }


  /* styles.css */
.skeleton {
  background: #e0e0e0;
  border-radius: 4px;
}

.skeleton-text {
  height: 1em;
  margin-bottom: 0.5em;
  background: linear-gradient(-90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeleton-table {
  display: block;
  width: 100%;
  background: #e0e0e0;
  border-radius: 4px;
}

.skeleton-table th,
.skeleton-table td {
  padding: 0.75em;
  border: none;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
