@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom:hover {
    transform: scale(1.1);
}

body::-webkit-scrollbar {
    width: 12px;         
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #eab308;   
    border-radius: 20px;       
  }


  /* Skeleton css */
.skeleton {
  background: #e0e0e0;
  border-radius: 4px;
}

.skeleton-text {
  height: 1em;
  margin-bottom: 0.5em;
  background: linear-gradient(-90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeleton-table {
  display: block;
  width: 100%;
  background: #e0e0e0;
  border-radius: 4px;
}

.skeleton-table th,
.skeleton-table td {
  padding: 0.75em;
  border: none;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



/* Loading */

.container-wave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

@keyframes audio-wave {
  0% {
      height: 6px;
      transform: translateY(0px);
      background: #0a1172; /* Azul oscuro */
  }

  25% {
      height: 40px;
      transform: translateY(-5px) scaleY(1.7);
      background: #3445b4; /* Azul medio */
  }

  50% {
      height: 6px;
      transform: translateY(0px);
      background: #7f9cf5; /* Azul claro */
  }

  75% {
      height: 40px;
      transform: translateY(-5px) scaleY(1.7);
      background: #ffc300; /* Amarillo oscuro */
  }

  100% {
      height: 6px;
      transform: translateY(0px);
      background: #0a1172; /* Azul oscuro */
  }
}

.sound-wave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 3.75rem;
  height: 2.5rem;
}

.sound-wave div {
  height: 2.5rem;
  display: block;
  width: 0.6rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background: #0a1172; /* Color inicial: Azul oscuro */
  animation: audio-wave 2.2s infinite ease-in-out;
}

.sound-wave div:nth-child(2) {
  animation-delay: 0.2s;
}

.sound-wave div:nth-child(3) {
  animation-delay: 0.4s;
}

.sound-wave div:nth-child(4) {
  animation-delay: 0.6s;
}

.sound-wave div:nth-child(5) {
  animation-delay: 0.8s;
}